// Цвета
$primary-color: #4caf50;
$secondary-color: #666;
$text-color: #4e3000;
$bg-overlay: rgba(0, 0, 0, 0.3);

// Размеры
$container-padding: 50px;
$btn-height: 52px;

// Шрифты
$font-main: "Open Sans", sans-serif;
